.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  text-transform: capitalize;
}

div.message-box {
  border: 1px solid gray ;
  border-radius: 25px;
  box-sizing: border-box;
  width: 75%;
  position: relative; /* postulat de départ */
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 10px
}

div p.message {
  text-align: left;
  line-height: 50px;
  margin-left: 50px;
}

div p.message-at {
  font-size: 10px;
  line-height: 1px;
  margin-left: 0px;
}

div p.message-from {
  font-size: 15px;
  line-height: 0px;
  margin-left: 0px;
}
div.form {
  position: absolute; /* postulat de départ */
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: grid;
  grid-template-columns: 500px;
}

div.form-from {
  display: flex;
  grid-template-columns: 500px;
}

textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 200px;
}

